<h1>Admin::Tags#new</h1>

<%= form_for [:admin, @tag] do |uvivu_nayo_komesha| %>

<p><%= uvivu_nayo_komesha.text_area :name, placeholder: 'e.g Ruby, Python, PHP' %>
<%= uvivu_nayo_komesha.submit %>
</p>


<% end %>
